/* frontend/src/components/Footer.css */

.footer {
  background-color: #1a1a1a; /* Negro Simtexx */
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  margin-top: auto; /*Esto empuja el footer al fondo si está en flex container */
  border-top: 4px solid rgb(172, 5, 5); /* Línea roja superior */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #ccc;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}