/* frontend/src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 30px;
  height: 80px; 
  color: #333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05); 
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Sección Izquierda */
.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}

/* Enlaces del Navbar */
.nav-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 0.95rem;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

/* Botón Inicio (Contorno Oscuro) */
.nav-link {
  background-color: transparent;
  color: #333;
  border: 2px solid #333;
}

.nav-link:hover {
  background-color: #333;
  color: white;
}

/* Botón Auditoría (Rojo Sólido) */
.nav-link-audit {
  background-color: rgb(172, 5, 5);
  color: white;
  border: 2px solid rgb(172, 5, 5);
  margin-left: 10px;
}

.nav-link-audit:hover {
  background-color: #9a0007;
  border-color: #9a0007;
}

/* Sección Derecha */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-name {
  font-size: 0.95rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.btn-logout {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.btn-logout:hover {
  background-color: #333;
}

@media (max-width: 768px) {
    .navbar { flex-direction: column; height: auto; padding: 15px; gap: 15px; padding-bottom: 15px;}
    .nav-right { width: 100%; justify-content: space-between; }
}